* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 30%;
  height: 250px;
  position: relative;
  background-image: url(autresImages/ratatouille.jpg);
}

.barre {
	background-color: black;
	height: 5px;
	width: 100%;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 20px 10px 10px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 15x;
  padding-top: 5px;
}

nav li img {
  height: 40px;
  width: auto;
}

nav h2 {
	color: rgb(254,254,235);
	margin-left: 550px;
	font-size: 60;
	font-stretch: 150%;
	font-family: Georgia, serif;
}

nav ul {
	position: absolute;
	right: 50px;
	border: 1px solid black;
	background-color: rgb(254, 255, 235);
}

li a {
  padding: 5px;
  text-decoration: none;
  font-size: 20;
}

.ajoutFilm{
	background-color: rgb(254,254,240);
	padding-top: 30px;
	padding-left: 825px;
}


.ajoutFilm input{
	font-size: 20px;
	padding: 5px;
	font-weight: bold;
}

.bconnex{
	padding-top: 5px;
    padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: rgb(254,254,235);
	font-family: Georgia, serif;
	font-size: 20px;
	position: absolute;
	right: 40px;
	top: 200px;
	border: 1px solid black;
}

.bconnex a{
	color: rgb(130,100,100);
	font-weight: bold;
}


.panier ion-icon{
  vertical-align: center;
  font-size: 25px;
  padding-right: 5px;
  color: rgb(130,100,100);
}

.panier span{
  vertical-align: center;
  font-size: 20px;
  color: rgb(130,100,0);
  position: relative;
  bottom: 3px;
}


.panier a {
  color: rgb(130,50,0);
  cursor: pointer;
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 20px;
  vertical-align: top;
  font-weight: bold;
}


.liere{
	height: 0px;
}

.liere img{
	height: 650px;
	width: auto;
	margin: 0;
	padding: 0;
	position: relative;
	bottom: 30px;
	right: 60px;
}

.scrat{
	height: 0px;
}

.scrat img{
	height: 300px;
	width: auto;
	margin: 0;
	padding: 0;
	position: relative;
	left: 1560px;
}

.sid{
	height: 0px;
}

.sid img{
	height: 300px;
	width: auto;
	margin: 0;
	padding: 0;
	position: relative;
	left: 1480px;
	bottom: 265px;
}

.manfred{
	height: 0px;
}

.manfred img{
	height: 240px;
	width: auto;
	margin: 0;
	padding: 0;
	position: relative;
	left: 350px;
	bottom: 225px;
}

.film {
  font-size: 15px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 80px;
  position: relative;
  overflow: hidden;
}


.groupeFilms {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  margin-top: 0px;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 200px;
  background-color: rgb(254,254,240);
}

a {
  text-decoration: none;
  color: black;
  border: none;
}

.ajouterPanier {
  display:block;
  width:150px;
  line-height:25px;
  text-align:center;
  background: rgb(100,100,100) no-repeat;
  color:white;
  font-weight: bold;
  text-decoration:none;
  margin-left: 45px;
}

h3 {
  padding-top: 5px;
  color: rgb(130,50,0);
}
  
h2 {
  padding-top: 5px;
}

.ajouterPanier:hover {
  background:grey no-repeat;
}



footer{
	height: 200px;
	width:100%;
	background-color: rgb(40,90,150);
}

footer img{
	width: auto;
	height: 180px;
	vertical-align: center;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer h2{
	color: white;
	font-weight: bold;
	vertical-align: center;
	position: absolute;
	left: 10%;
	top: 2430px;
}

footer a{
	color: rgb(200,230,255);
	font-weight: bold;
	font-size: 20px;
	vertical-align: center;
	position: absolute;
	left: 88%;
	top: 2430px;
}